<%= notice %>

<% if current_user %>
  Signed in as <%= current_user.username %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to 'Sign in with Twitter :)', '/auth/twitter' %>
<% end %>

<% if current_user %>

  <% current_user.twitter.mentions_timeline.each do |tweet| %>
    <li>  <%= tweet.text %> </li>
  <% end %>
<% end %>
